@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fade {

  0%,
  100% {
    opacity: 0.4;
  }

  50% {
    opacity: 1;
  }
}

.animate-fade {
  animation: fade 1.4s ease-in-out infinite;
}